.contactoTitulo {
    color: #8b2e2e;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

section{
    margin: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
}

form{
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"], input[type="reset"] {
    background-color: #8b2e2e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

p{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #5c1a1a;
}
