.ultimosTitulosLista {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.text-historia {
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
    margin-bottom: 20px;
}
.enlace-historia {
    color: #900000;
    text-decoration: none;
    font-weight: bold;
}
.enlace-historia:hover {
    text-decoration: underline;
}
.ultimosListas {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 16px;
    color: #333333;
}
.proximosPartidosTitulo {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}
.proximospartidostabla {
    width: 100%;
    border-collapse: collapse;
}
.proximospartidostabla th, .proximospartidostabla td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
.proximospartidostabla th {
    text-align: left;
    background-color: #900000;
    font-weight: bold;
    color: white;
}
.proximospartidostabla tr:nth-child(even) {
    background-color: #f9f9f9;
}
.noticiasTitulo {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}
.noticiasContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
article.noticia {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    box-sizing: border-box;
    
}