.titulopaginalogin {
    text-align: center;
    color: #ffffff;
    background-color: #d40000;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 20px;
}
.loginTitulo {
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 28px;
    color: #900000;
    margin-bottom: 15px;
}
form {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"], input[type="reset"] {
    background-color: #900000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
input[type="submit"]:hover {
    background-color: #700000;
}
.registroTitulo {
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 28px;
    color: #900000;
    margin-bottom: 15px;
}
.titulopaginaregis {
    text-align: center;
    color: #ffffff;
    background-color: #d40000;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 20px;
}
.formularologin, .formularoregis {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    
}
